.Search {
  position: relative;
  overflow-x: hidden;
}

#search-alert {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 666;
}
