#main-panel {
	margin-top: 40px;
	min-width: 521px;
}

body {
	background: #f4f4f4;
}

.panel-default > .panel-heading {
	border: none;
	background: #f6695e;
	background-color: #f6695e;
}

.panel-default > .panel-heading > .nav > li > a {
	color: #5e686f;
	font-size: 18px;
}
.panel-default > .panel-heading > .nav > .active > a {
	color: #f6695e !important;
}

.wrapper {
	padding-bottom: 0px !important;
}

#requests-popover > .popover-content {
	padding: 0px;
}
