.SearchBar {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  background-image: url('./kids.jpeg');
  background-color: #57c4c8;
  background-size: cover;
  background-repeat: no-repeat;
  height:30rem;
}

.SearchBar-sort-options ul {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  color: #f44336cc;
}

.SearchBar-sort-options li {
  cursor:all-scroll;
  width: 23rem;
  border-bottom: 0px solid #f44336cc;
  padding: 0 2rem ;
  line-height: 1.13;
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
  transition: color .25s;

}

.SearchBar-sort-options li:hover {
  color: #f44336cc;
}

.SearchBar-sort-options li.active,
.SearchBar-sort-options li.active:hover {
  border-bottom: 0px solid #f44336cc;
  color:  #f44336cc;
}

.SearchBar-fields {
  /* position: fixed; */
  display: flex;
  justify-content: center;
  margin-bottom: 2.88rem;

}
.Search-term{
  width: 400px;
  height:40px;
  padding: .66rem 1rem;
  margin-right: 2.22rem;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 2.5rem;
  font-weight: 500;
  background-color:white;
      opacity: 0.98;
}
.Search-fields{
  width: 400px;
  height:40px;
  padding: .66rem 1rem;
  margin-right: 2.22rem;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 2.5rem;
  font-weight: 500;
  background-color:white;
      opacity: 0.98;

}

.SearchBar-fields input:last-child {
  margin-right: 0;
}

.SearchBar-submit {
  text-align: center;
}

.SearchBar-submit a {
  border-radius: 4px;
  padding: .72rem 1.7rem;
  background-color: #f44336cc;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  transition: background-color .5s;
}

.SearchBar-submit a:hover {
  cursor: pointer;
  background-color: #a7874b;
}

@media only screen and (max-width:560px) {
  .SearchBar {
    width: auto;
    background-image: url('./kid.jpg');
  }
  .Search-term{
    margin-right: 0;
    margin-bottom: .86rem;
  }
  .SearchBar-sort-options ul {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .SearchBar-fields {
    flex-direction: column;
    align-items: center;
  }

  .SearchBar-fields input {
    margin-right: 0;
    margin-bottom: .86rem;
  }

}
