/*img.card-img-top{
  width:250px;
  height:250px;

}

.card-text{
  color: #f44336cc;
}*/

.results {
  background-color: #F6695E;
  margin-bottom: 10px;
  padding: 5px;
}

.title {
  text-align: center;
  color: white;
  font-size: 2rm;
}


div.gallery {
    border: 3px solid white;

}

div.gallery:hover {
    border: 3px solid #777;
}

div.gallery img {
  width: 342px;
  height: 350px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
  width: 360px;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.ScrollUpButton__Container{
     background-color: rgb(255, 255, 255);
     border-radius: 50%;
     border: 5px solid black;
     height: 50px;
     position: fixed;
     bottom: 20px;
     width: 50px;
     -webkit-transition: all 0.5s ease-in-out;
     transition: all 0.5s ease-in-out;
     -webkit-transition-property: opacity, right;
     transition-property: opacity, right;
     cursor: pointer;
     opacity: 0;
     right: -75px;

   }

   .ScrollUpButton__Toggled{
     opacity: 1;
     right: 10px;

   }
