.navbar {
	margin-bottom: 0px;
	font-size: 20px;
	border-radius: 0;
	border: none;
}

.navbar-brand, .navbar-nav > li > a {
	text-shadow: none !important;
}

.navbar .navbar-brand {
	font-size: 24px;
}

.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
	color: #130101;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {
	color: #130101;
	font-size: 20px;
		background-color: white;

}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	background-color: #f6695e;
}

ul img:hover {
	box-shadow: 0 16px 18px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.logout {
	cursor: pointer;
}
