.navbar {
	margin-bottom: 0px;
	font-size: 20px;
	border-radius: 0;
	border: none;
}

.navbar-brand, .navbar-nav > li > a {
	text-shadow: none !important;
}

.navbar .navbar-brand {
	font-size: 24px;
}

.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
	color: #5e686f;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {
	color: #f6695e;
	font-size: 20px;
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	background-color: #f6695e;
}
