.menubar {
  width: 100%;
  padding: 5px 2%;
  margin: 0px;
  font-size: 20px;
  background: #f6695e;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  border: none;
  overflow: hidden;
}

.inner-nav {
  display: inline;
}

/* img:hover {
  box-shadow: 0 16px 18px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border: none;
} */

.navbar-brand,
.navbar-nav > li > a {
  text-shadow: none !important;
}

/* img {
	-moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
} */

.navbar .navbar-brand {
  font-size: 24px;
  min-height: 58px;
}

.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
  color: #130101;
  line-height: 28px;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {
  color: #130101;
  font-size: 20px;
  /*background-color: white;*/
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  background-color: #f6695e;
  line-height: 58px;
}

.logout {
  cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 480px) {
  img {
    margin-right: 20px;
  }
}
